// Spacers

$size1: 4px;
$size2: 8px;
$size3: 12px;
$size4: 16px;
$size5: 20px;
$size6: 24px;

// Colors

$mainLightColor: white;
$mainDarkColor: black;
$baseColor1: red;
$baseColor2: blue;
$baseColor3: green;