@import "../scss/fonts";
@import "../scss/mixins";
@import "../scss/variables";

body {
  font-family: $robotoFamily;
  padding: $size4;
}

.nav_list {
  padding: 0;
  background-color: $darkGreenPrimary;
  color: $darkGreenInverted;
  list-style: none;
  font-weight: 700;

  @media (min-width: $break1) {
    display: flex;
  }
}

.nav_item {
  @include centerContent;
  padding: $size5;
  flex: 1;
  &:hover {
    background-color: $darkGreenAction;
    cursor: pointer;
  }
}


